<div class="auth-wrapper">
  <div
    class="w-55px mx-auto mb-4 position-sm-absolute bg-white p-1 mt-sm-0 mt-2"
    style="left: 4%; top: 35px; z-index: 10"
  >
    <img src="/assets/media/svg/logo.svg" alt="logo" class="img-fluid" />
  </div>

  <div class="container position-relative">
    <!-- begin::range slider  -->
    <div
      class="step-range ms-sm-auto pb-4 w-md-75 w-100"
      *ngIf="steps !== 'email'"
    >
      <input
        type="range"
        class="form-range input-color-success"
        aria-describedby="helpId"
        placeholder=""
        min="0"
        [(ngModel)]="range"
        max="100"
        disabled
        #steprange
      />
      <div class="d-flex mt-5 flex-stack w-100 ms-sm-n5">
        <div>
          <span class="d-sm-block d-none">Email</span>
          <i
            class="text-active-gray-900 bi bi-envelope-fill d-sm-none d-block"
          ></i>
        </div>
        <div [class.text-success-dark]="steps == 'account_type'">
          <span class="d-sm-block d-none">Account type </span>
          <i class="bi bi-person-plus-fill d-sm-none d-block"></i>
        </div>
        <div
          [class.opacity-50]="count < 3"
          [class.text-success-dark]="steps == 'location'"
        >
          <span class="d-sm-block d-none">Location </span>
          <i class="bi bi-geo-alt-fill d-sm-none d-block"></i>
        </div>
        <div
          [class.opacity-50]="count < 4"
          [class.text-success-dark]="steps == 'verify'"
        >
          <span class="d-sm-block d-none">Verify </span>
          <i class="bi bi-person-check-fill d-sm-none d-block"></i>
        </div>
        <div
          [class.opacity-50]="count < 5"
          [class.text-success-dark]="steps == 'password'"
        >
          <span class="d-sm-block d-none">Password </span>
          <i class="bi bi-lock-fill d-sm-none d-block"></i>
        </div>
      </div>
    </div>
    <!-- end::range slider  -->

    <!-- begin::Form  -->
    <form [formGroup]="regForm" ngxsForm="formstate.regForm">
      <div>
        <!-- begin::Email Form  -->
        <div class="row mt-sm-20 0 mt-2" *ngIf="steps == 'email'">
          <div class="col-lg-4 d-none d-lg-flex justify-content-center my-auto">
            <img src="/assets/media/svg/signup.svg" alt="" class="img-fluid" />
          </div>
          <div class="col-lg-8 col-12">
            <div class="ms-lg-10 side-form">
              <div class="mt-5 text-center">
                <h1>Create your Sharpy account</h1>
              </div>

              <!-- begin::form  -->
              <div class="w-sm-75 w-100 mt-10 mx-auto">
                <!-- begin::Input Field  -->
                <div class="form-group mb-10">
                  <label class="mb-4 opacity-50">
                    First, Enter your email address
                  </label>
                  <input
                    type="email"
                    class="form-control"
                    aria-describedby="helpId"
                    placeholder="Your email address"
                    formControlName="email"
                    [class.is-invalid]="
                      fv['email'].touched && fv['email'].invalid
                    "
                  />

                  <input
                    type="text"
                    class="form-control my-3"
                    aria-describedby="helpId"
                    placeholder="Username"
                    formControlName="user_name"
                    [class.is-invalid]="
                      fv['user_name'].touched && fv['user_name'].invalid
                    "
                  />

                  <input
                    type="text"
                    class="form-control"
                    aria-describedby="helpId"
                    placeholder="Your full name"
                    formControlName="name"
                    [class.is-invalid]="
                      fv['name'].touched && fv['name'].invalid
                    "
                  />
                </div>
                <!-- end::Input Field  -->

                <!-- begin:: Submit button  -->
                <div class="form-group mb-10">
                  <button
                    (click)="next()"
                    class="btn btn-success-dark bg-hover-success position-relative w-100 btn-submit"
                  >
                    Next
                  </button>
                </div>
                <!-- end::Submit button  -->

                <!-- begin::Login providers  -->

                <div class="mb-10 providers">
                  <p class="fs-4">Or Login with</p>
                  <div class="d-flex flex-stack my-6 ms-sm-8 ms-2">
                    <!-- begin::button link  -->
                    <a class="btn btn-grey-green h-50px w-25">
                      <img
                        alt="Logo"
                        src="/assets/media/brand-logos/google-icon.svg"
                        class="h-20px mx-auto"
                    /></a>
                    <!-- end::Button link  -->

                    <!-- begin::Button link  -->
                    <a class="btn btn-grey-green w-25 h-50px">
                      <img
                        alt="Logo"
                        src="/assets/media/brand-logos/facebook.svg"
                        class="h-20px mx-auto"
                    /></a>
                    <!-- end::Button Link  -->

                    <!-- begin::Button Link  -->
                    <a class="btn btn-grey-green w-25 h-50px">
                      <img
                        alt="Logo"
                        src="/assets/media/brand-logos/apple-black.svg"
                        class="h-20px mx-auto"
                    /></a>
                    <!-- end::Button Link  -->
                  </div>
                </div>
                <!-- end::Login Providers  -->

                <!-- begin::footer  -->
                <div class="mt-15 mb-7 text-center">
                  <p class="fs-6 text-break">
                    By Registering you accept our
                    <a href="#" class="text-success text-decoration-underline"
                      >Terms of use</a
                    >
                    and
                    <a href="#" class="text-success text-decoration-underline"
                      >Privacy Policy</a
                    >
                  </p>
                </div>
                <hr class="my-10" />

                <div class="my-15 text-center">
                  <p class="fs-6">
                    Already have an account?
                    <a
                      href="/auth/login"
                      routerLink="/auth/login"
                      class="text-success text-decoration-underline ms-1"
                      >Login</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end::Email Form  -->

        <!-- begin::Back  -->
        <div
          class="mt-sm-7 pt-7 pb-20"
          style="height: calc(100vh - 5rem); overflow-y: auto"
          *ngIf="steps !== 'email'"
        >
          <div class="row">
            <div
              (click)="back()"
              class="back mb-5 col-sm-2 text-hover-success-dark"
            >
              <p class="fs-4">
                <i
                  class="bi bi-arrow-left me-2 text-black d-none d-sm-inline"
                ></i>
                <i
                  class="bi bi-arrow-left-circle fs-2 d-sm-none d-inline me-2 text-black"
                ></i>

                <span class="text-decoration-underline d-none d-sm-inline"
                  >Back</span
                >
              </p>
            </div>
            <!-- end::Back  -->

            <!-- begin::Sub Form  -->

            <div class="col-sm-10 col-12 text-center">
              <!-- begin::Headline  -->
              <h1 style="font-weight: 400" class="fs-sm-1 fs-5">
                <span *ngIf="steps == 'account_type'">
                  <span *ngIf="first_account_type">
                    What kind of account would you like to open today?
                  </span>
                  <span *ngIf="!first_account_type">
                    What kind of business do you offer?
                  </span>
                </span>
                <span *ngIf="steps == 'location'">
                  Please Confirm your Location
                </span>

                <span *ngIf="steps == 'verify'">
                  Verify your phone number with a code
                </span>

                <span *ngIf="steps == 'password'">
                  Create your unique password
                </span>
              </h1>

              <p class="mt-4 opacity-50" *ngIf="steps == 'account_type'">
                You can add another account later on too
              </p>
              <p class="mt-4" *ngIf="steps == 'verify'">
                It helps us keep your account secure.
                <a href="#" class="text-danger ms-1 text-decoration-underline"
                  >Learn More</a
                >
              </p>
              <!-- end::Headline  -->

              <!-- begin::Account Type  -->
              <ng-container *ngIf="steps == 'account_type'">
                <!-- begin::Option Group  -->
                <div
                  *ngIf="first_account_type"
                  class="mt-15 mx-auto d-flex flex-wrap justify-content-center"
                >
                  <!-- begin::Option  -->
                  <div
                    [class.selected]="fv['account_type'].value == 'personal'"
                    (click)="selectAccountType('personal')"
                    class="card option text-white mx-3"
                  >
                    <div
                      class="w-sm-100px h-sm-100px h-60px w-60px mx-auto mt-5"
                    >
                      <img src="/assets/media/pic-icons/personal.png" alt="" />
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">Personal account</h4>
                      <p class="opacity-75 text-black">
                        Surf and shop from your favorite vendor on Sharpy
                      </p>
                    </div>
                  </div>
                  <!-- end::Option  -->
                  <!-- begin::Option  -->
                  <div
                    class="card option text-white mx-3"
                    (click)="selectAccountType('business')"
                    [class.selected]="fv['account_type'].value == 'business'"
                  >
                    <div
                      class="w-sm-100px h-sm-100px h-60px w-60px mx-auto mt-5"
                    >
                      <img src="/assets/media/pic-icons/business.png" alt="" />
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">Business account</h4>
                      <p class="opacity-75 text-black">
                        Set up and organize your own online store for your
                        product
                      </p>
                    </div>
                  </div>
                  <!-- end::Option  -->
                </div>
                <!-- end:: Option Group  -->

                <!-- begin::Business Option Group  -->

                <div
                  *ngIf="!first_account_type"
                  class="mt-15 mx-auto d-flex flex-wrap justify-content-center"
                >
                  <!-- begin::Option  -->
                  <div
                    [class.selected]="fv['acc_type2'].value == 'product'"
                    (click)="selectBusinessType('product')"
                    class="card option text-white mx-3"
                  >
                    <div
                      class="w-sm-100px h-sm-100px h-60px w-60px mx-auto mt-5"
                    >
                      <img src="/assets/media/pic-icons/product.png" alt="" />
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">Physical Product</h4>
                      <p class="opacity-75 text-black">
                        I sell physical products like shoes, dresses, food etc.
                      </p>
                    </div>
                  </div>
                  <!-- end::Option  -->
                  <!-- begin::Option  -->
                  <div
                    class="card overlay option text-white mx-3"
                    [class.selected]="fv['acc_type2'].value == 'service'"
                  >
                    <div
                      class="w-sm-100px h-sm-100px h-60px w-60px mx-auto mt-5"
                    >
                      <img src="/assets/media/pic-icons/service.png" alt="" />
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">Services</h4>
                      <p class="opacity-75 text-black">
                        I provide services like hair dressing, tutoring, gym
                        training
                      </p>
                    </div>
                    <div class="overlay-layer bg-dark bg-opacity-50">
                      <h3 class="text-white">COMING SOON</h3>
                    </div>
                  </div>
                  <!-- end::Option  -->
                </div>

                <!-- end::Business Option Group  -->
              </ng-container>
              <!-- end::Account Type  -->

              <!-- begin::Location Input  -->
              <ng-container *ngIf="steps == 'location'">
                <div
                  class="mt-20 mx-auto d-flex flex-wrap justify-content-center"
                >
                  <!-- begin::input  -->
                  <div class="form-group w-sm-75 w-100">
                    <select
                      formControlName="location"
                      class="form-select"
                      aria-label="Select example"
                      [class.is-invalid]="
                        fv['location'].touched && fv['location'].invalid
                      "
                    >
                      <option [value]="''" class="text-muted">
                        Select a Location
                      </option>
                      <ng-container *ngFor="let item of location_list">
                        <option [value]="item">{{ item }}</option>
                      </ng-container>
                    </select>
                  </div>
                  <!-- end::input  -->

                  <!-- begin::button  -->
                  <div class="form-group mt-5 w-sm-75 w-100">
                    <button
                      (click)="next()"
                      class="btn btn-success-dark bg-hover-success position-relative w-100 btn-submit"
                    >
                      continue
                    </button>
                  </div>
                  <!-- end::button  -->
                </div>
              </ng-container>
              <!-- end::Location Input  -->

              <!-- begin::Phone Number  -->
              <ng-container *ngIf="steps == 'verify'">
                <!-- begin::input  -->
                <div class="row mt-20 w-sm-75 w-100 mx-auto">
                  <div class="form-group col-auto">
                    <select
                      [class.is-invalid]="
                        fv['area_code'].touched && fv['area_code'].invalid
                      "
                      formControlName="area_code"
                      class="form-select"
                      aria-label="Select example"
                    >
                      <option value="+90">+90</option>
                    </select>
                  </div>
                  <div class="form-group col mx-1">
                    <input
                      [class.is-invalid]="
                        fv['phone'].touched && fv['phone'].invalid
                      "
                      type="tel"
                      (keypress)="restrictAlpha($event)"
                      class="form-control"
                      formControlName="phone"
                    />
                  </div>
                </div>
                <!-- end::input  -->

                <!-- begin::button  -->
                <div class="form-group mt-9 w-sm-75 w-100 mx-auto">
                  <button
                    (click)="next()"
                    class="btn btn-success-dark bg-hover-success position-relative w-100 btn-submit"
                  >
                    continue
                  </button>
                </div>
                <!-- end::button  -->
              </ng-container>
              <!-- end::Phone Number  -->

              <ng-container *ngIf="steps == 'password'">
                <!-- begin::input  -->
                <div class="mt-20 w-sm-75 w-100 mx-auto">
                  <div class="form-group mx-1">
                    <input
                      [class.is-invalid]="
                        fv['password'].touched && fv['password'].invalid
                      "
                      type="password"
                      class="form-control"
                      formControlName="password"
                      placeholder="Enter your password"
                    />
                  </div>

                  <div class="form-group mx-1 mt-5">
                    <input
                      [class.is-invalid]="
                        fv['cPassword'].touched &&
                        fv['cPassword'].hasError('misMatch')
                      "
                      type="password"
                      class="form-control"
                      formControlName="cPassword"
                      placeholder="Confirm Password"
                    />
                  </div>
                </div>
                <!-- end::input  -->

                <!-- begin::button  -->
                <div class="form-group mt-9 w-sm-75 w-100 mx-auto">
                  <button
                    (click)="next()"
                    class="btn btn-success-dark bg-hover-success position-relative w-100 btn-submit"
                  >
                    <ng-container *ngIf="!(isSubmit | async)">
                      Finish
                    </ng-container>

                    <span *ngIf="isSubmit | async"
                      >Please wait...
                      <span
                        class="spinner-border spinner-border-sm align-middle ms-2"
                      ></span
                    ></span>
                  </button>
                </div>
                <!-- end::button  -->
              </ng-container>
            </div>
            <!-- end::Sub Form  -->
          </div>
        </div>
      </div>
    </form>
    <!-- end::Form  -->
  </div>
</div>
