<div class="auth-wrapper">
  <div
    class="w-55px mx-auto mb-4 position-absolute bg-white p-1"
    style="left: 4%; top: 35px; z-index: 10"
  >
    <img src="/assets/media/svg/logo.svg" alt="logo" class="img-fluid" />
  </div>

  <div class="container position-relative mt-20">
    <div class="mt-20">
      <div class="pt-10">
        <!-- begin::Back  -->
        <div class="back">
          <a
            href="/auth/login"
            routerLink="/auth/login"
            class="back text-dark mb-5 col-sm-2 text-hover-success-dark"
          >
            <p class="fs-4">
              <i class="bi bi-arrow-left me-2 text-black"></i>
              <span class="text-decoration-underline">Back</span>
            </p>
          </a>
        </div>
        <!-- end::Back  -->

        <!-- begin::Content  -->
        <div
          [class.mt-15]="step !== 'newpassword'"
          class="center mx-auto w-lg-600px w-sm-75 w-100"
        >
          <!-- begin::prompt card  -->
          <div class="card mt-20" *ngIf="step == 'prompt'">
            <div class="card-body">
              <h2 class="card-title">I’ve forgotten my password?</h2>
              <p class="fs-5 mt-7 mb-10 text-black text-start">
                If you’re logged out and can’t remember your password, we can
                send you an email with a link to reset it.
              </p>

              <button
                (click)="next()"
                class="btn btn-success-dark bg-hover-success position-relative w-100 btn-submit"
              >
                continue
              </button>
            </div>
          </div>
          <!-- end::prompt card  -->

          <!-- begin::Input  -->
          <div class="mt-2 text-center mx-auto" *ngIf="step !== 'prompt'">
            <div class="sm-img mt-2 mb-8 mx-auto">
              <img src="/assets/media/pic-icons/reset.png" alt="" />
            </div>

            <!-- begin::email request  -->
            <div class="my-3" *ngIf="step == 'email'">
              <h2>Forgot your password?</h2>
              <p>
                Just enter the email address you registered with and we’ll send
                you a link to reset your password.
              </p>

              <div class="form-group my-10">
                <input
                  type="email"
                  [(ngModel)]="email"
                  #em="ngModel"
                  required
                  email
                  class="form-control"
                  placeholder="Enter your email address"
                  aria-describedby="helpId"
                  [class.is-invalid]="em.invalid && em.touched"
                />
              </div>
              <button
                (click)="next(em)"
                class="btn btn-success-dark bg-hover-success position-relative w-100 btn-submit"
              >
                send password reset link
              </button>
            </div>
            <!-- end::emil request  -->

            <!-- begin::password reset  -->
            <div class="my-3" *ngIf="step == 'newpassword'">
              <h2>Enter your new password?</h2>
              <p>
                Create your new unique password, make it something you can
                easily remember and don’t share it with anybody
              </p>

              <div class="form-group my-10">
                <input
                  type="password"
                  [(ngModel)]="password"
                  #pass="ngModel"
                  required
                  minlength="8"
                  class="form-control mb-5"
                  placeholder="new password"
                  aria-describedby="helpId"
                  [class.is-invalid]="pass.invalid && pass.touched"
                />

                <input
                  type="password"
                  [(ngModel)]="cPassword"
                  #cPass="ngModel"
                  required
                  class="form-control"
                  placeholder="confirm password"
                  aria-describedby="helpId"
                  [class.is-invalid]="cPass.touched && password !== cPassword"
                />
              </div>
              <button
                (click)="next(pass, cPass)"
                class="btn btn-success-dark bg-hover-success position-relative w-100 btn-submit"
              >
                confirm new password
              </button>
            </div>
            <!-- end::password reset  -->
          </div>
          <!-- end::Input  -->
        </div>
      </div>
    </div>
  </div>
</div>
