.hover-none:hover {
  text-decoration: none !important;
  color: inherit;
}
.sm-img {
  height: 80px;
  width: 80px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.x-sm-img {
  width: 55px;
}
.dropdown-toggle::after {
  display: none !important;
}

.btn {
  border-radius: 3px;
}

.card-header {
  align-items: center !important;
}
