//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
// Primary
$primary-dark: if(isDarkMode(), #3699ff, #1f4173);
$primary-dark-active: if(isDarkMode(), #187de4, #1f4173);
$primary-dark-light: if(isDarkMode(), #212e48, rgba(31, 65, 115, 0.05));
$primary-inverse: #ffffff;

// Success
$success: if(isDarkMode(), #0bb783, #22b573);
$success-active: if(isDarkMode(), #04aa77, #22b573);
$success-light: if(isDarkMode(), #1c3238, rgba(33, 181, 114, 0.274));
$success-inverse: #ffffff;

// Success-dark
$success-dark: if(isDarkMode(), #0bb783, #09825d);

$grey-green: #cbf4c9;
// Info
$info: if(isDarkMode(), #e07120, #e07120);
$info-active: if(isDarkMode(), #e07120, #e07120);
$info-light: if(isDarkMode(), #2f264f, #f8f5ff);
$info-inverse: #ffffff;

// Danger
$danger: if(isDarkMode(), #f64e60, #f1392e);
$danger-active: if(isDarkMode(), #ee2d41, #f1392e);
$danger-light: if(isDarkMode(), #3a2434, #fff5f8);
$danger-inverse: #ffffff;

// Warning
$warning: if(isDarkMode(), #ffa800, #ffb61d);
$warning-active: if(isDarkMode(), #ee9d01, #ffb61d);
$warning-light: if(isDarkMode(), #392f28, #fff8dd);
$warning-inverse: #ffffff;
