<div class="card">
  <div class="card-header bg-secondary">
    <h3 class="card-title align-items-start flex-column">
      <span class="fw-bolder text-dark">Recent Orders</span>
    </h3>
  </div>
  <div class="card-body p-0 table-responsive">
    <table
      class="table text-center table-bordered table-inverse table-responsive"
    >
      <thead class="thead-default">
        <tr>
          <th colspan="2">
            <div class="col text-muted fs-4">Order ID</div>
          </th>
          <th>
            <div class="col-auto text-muted fs-4">Status</div>
          </th>
          <th>
            <div class="col-auto text-muted fs-4">Item(s)</div>
          </th>
          <th>
            <div class="col-auto text-muted fs-4">Total</div>
          </th>
          <th>
            <div class="col-auto text-muted fs-4">Actions</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            <div class="d-flex flex-stack">
              <div class="me-5">
                <img
                  src="/assets/media/images/demo6.png"
                  class="rounded"
                  alt=""
                />
              </div>

              <div class="mx-3">
                <h3 class="fs-4 text-start">
                  #32Ad2f <br />
                  <span class="fs-7 fw-normal"> 06 June 2022 12:00 </span>
                </h3>
              </div>
            </div>
          </td>
          <td>
            <span class="badge badge-pill badge-success">Processing</span>
          </td>
          <td>4</td>
          <td>{{ 1000 | currency: "TRY":"symbol-narrow" }}</td>
          <td>
            <button type="button" class="btn btn-outline-dark">
              View Order
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
